@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'react-toastify/dist/ReactToastify.css';
@import 'mapbox-gl/dist/mapbox-gl.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --app-color-1: 0, 91.51%, 41.57%;
    --app-color-2: 0.91, 100%, 25.88%;
    --app-color-3: 45.83, 100%, 50.2%;
  }
}

body {
  overflow-x: hidden;
}

.sidebar.open + .wrap {
  padding-left: 300px;
}

.sidebar.open + .wrap > .header {
  left: 300px;
}

@media (max-width: 768px) {
  .sidebar.open + .wrap {
    padding-left: 0;
  }

  .sidebar.open + .wrap > .header {
    left: 0;
  }
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
#map {
  margin-top: 75px;
}

input[type='range']::-webkit-slider-thumb {
  @apply h-5 w-5 cursor-pointer appearance-none rounded-full bg-primary p-1 shadow-[0_0_0_5px_#fff] transition;
}

/* Style scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(var(--app-color-1), 0.75);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--app-color-1), 0.9);
}
